.background{
    background: url('http://kamerapengintai.com/images/modules/imageslider/6054868064bc1.png');
    padding-top: 1rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}